<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neighbour - Access Account</title>
    <script src="https://kit.fontawesome.com/08c0396a01.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="create-account-container">
        <div class="create-account-form">
            <img class="logo" src="{{ url_for('static', filename='images/neighbour_logo.png') }}" alt="">
            <div class="form-header">
                <h2><i class="fas fa-user"></i> Access Your Account</h2>
                <p>Please fill in the form below in order to access your account.</p>
            </div>
            <form class="form">
                <div class="form-group">
                    <div class="form-label">Email Address</div>
                    <div class="form-input"><i class="fas fa-envelope"></i> <input type="text" placeholder="Enter your full name"></div>
                </div>

                <div class="form-group">
                    <div class="form-label">Passowrd</div>
                    <div class="form-input"><i class="fas fa-lock"></i> <input type="text" placeholder="Enter your full name"></div>
                </div>

                <p class="terms">By accessing your neighbour account you agree with the <a href="">Terms and Conditions</a>.</p>

                <button class="submitBtn">Access Account</button>
            </form>
            <p class="already">Don't have an account? <a href="">Create Account</a></p>
        </div>
    </div>
</body>
</html>