<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neighbour - Create an Account</title>
    <script src="https://kit.fontawesome.com/08c0396a01.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="create-account-container">
        <div class="create-account-form">
            <img class="logo" src="{{ url_for('static', filename='images/neighbour_logo.png') }}" alt="">
            <div class="form-header">
                <h2><i class="fas fa-user"></i> Create Your Account</h2>
                <p>Please fill in the form below in order to create your account.</p>
            </div>
            <form action="{{ url_for('auth.create_account') }}" method="POST" class="form">
                {{ form.hidden_tag() }}
                {% for message in get_flashed_messages(with_categories=True) %}
                    {% if category %}
                        <p class="flash-message-{{ category }}">{{ message }}</p>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <div class="form-label">{{ form.full_name.label }}</div>
                    <div class="form-input"><i class="fas fa-user"></i> {{ form.full_name(placeholder="Enter your full name") }}</div>
                    {% for error in form.full_name.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <div class="form-label">{{ form.phone_number.label }}</div>
                    <div class="form-input"><i class="fas fa-phone"></i> {{ form.phone_number(placeholder="Enter your phone number") }}</div>
                    {% for error in form.phone_number.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <div class="form-label">{{ form.community_id.label }}</div>
                    <div class="form-input"><i class="fas fa-house"></i> {{ form.community_id(placeholder="Select your neighborhood") }}</div>
                    {% for error in form.community_id.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <div class="form-label">{{ form.email.label }}</div>
                    <div class="form-input"><i class="fas fa-envelope"></i> {{ form.email(placeholder="Enter your email address") }}</div>
                    {% for error in form.email.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <div class="form-label">{{ form.password.label }}</div>
                    <div class="form-input"><i class="fas fa-lock"></i> {{ form.password(placeholder="Enter your password") }}</div>
                    {% for error in form.password.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                </div>

                 <div class="form-group">
                    <div class="form-label">{{ form.confirm_password.label }}</div>
                    <div class="form-input"><i class="fas fa-lock"></i> {{ form.confirm_password(placeholder="Confirm your password") }}</div>
                    {% for error in form.confirm_password.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                </div>

                <p class="terms">By creating a neighbour account you agree with the <a href="">Terms and Conditions</a>.</p>

                {{ form.submit(class="submitBtn") }}
            </form>
            <p class="already">Already have an account? <a href="{{ url_for('auth.access_account') }}">Access account</a></p>
        </div>
    </div>
</body>
</html>