<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neighbour - Home</title>
    <script src="https://kit.fontawesome.com/08c0396a01.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main-container">
        <section class="home" id="home">
            <div class="home-header">
                <img class="logo" src="/static/images/neighbour_logo.png" alt="neighbour Logo">
                <span class="alert-code safe">C-Green</span>
            </div>

            <div class="home-panic-alert">
                <h1>Emergency help needed?</h1>
                <p>Hold the button to transmit emergency.</p>
                <button class="panicBtn" id="panicBtn"><i class="fas fa-broadcast-tower"></i></button>
                <p><i class="fas fa-exclamation-triangle"></i> Only press in real emergencies - not for testing.</p>
            </div>

        </section>

        <section id="chat" class="chat">
            <div class="chat-header">
                <h2><i class="fas fa-message"></i> Community Chat</h2>
                <span>20 users online</span>
            </div>

            <div class="chat-panel">
                <div class="chat-messages"></div>
                <div class="chat-input">
                    <input type="text" placeholder="Type your message here">
                    <button><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </section>

        <section id="alerts" class="alerts">
            <h1>Alerts</h1>
        </section>

        <section id="profile" class="profile">
            <h1>Profile</h1>
        </section>

        <div class="navigation">
            <div class="navigation-button">
                <button class="active" id="homeBtn" type="button"><i class="fas fa-home"></i>Home</button>
            </div>

            <div class="navigation-button">
                <button id="chatBtn" type="button"><i class="fas fa-message"></i> Chat</button>
            </div>

            <div class="navigation-button">
                <button id="alertBtn" type="button"><i class="fas fa-bell"></i>Alerts</button>
            </div>

            <div class="navigation-button">
                <button id="profileBtn" type="button"><i class="fas fa-user"></i>Profile</button>
            </div>
        </div>
    </div>

    <script src="/static/js/main.js"></script>
</body>
</html> 