* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box
}


/* -----------------------------------------
Authentication
-----------------------------------------*/

.create-account-container {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
}

.create-account-form {
    width: 100%;
}

.logo {
    width: 250px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.form-header {
    margin-bottom: 20px;
}

.form-header h2 {
    font-size: 15pt;
    font-weight: 500;
    color: #0438ff;
    margin-bottom: 5px;
}

.form-header p {
    font-size: 10pt;
    color: grey;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-label {
    font-size: 10pt;
    font-weight: 500;
    color: gray;
}

.form-input input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
}

.form-input .fas {
    color: #0438ff;
}

.form-input select {
    width: 100%;
    border: none;
    background: none;
    outline: none;
}

.terms {
    font-size: 10pt;
    color: gray;
}

.terms a {
    color: #0438ff;
    text-decoration: none;
    font-weight: 600;
}

.already {
    text-align: center;
    margin-top: 20px;
    font-size: 10pt;
}

.already a {
    color: #0438ff;
    font-weight: 600;
    text-decoration: none;
}

.form-input {
    padding: 10px 15px;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.submitBtn {
    padding: 15px 20px;
    background-color: #0438ff;
    border: none;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
}

.submitBtn:active {
    transform: translateY(-5px);
}

/* -----------------------------------------
Main Page (index)
-----------------------------------------*/
.main-container {
    height: 100dvh;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #0438ff;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.navigation-button .fas {
    font-size: 13pt;
}

.navigation-button button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 80px;
    border: none;
    border-radius: 20px;
    background: none;
    font-size: 9pt;
    color: white;
    padding: 10px 15px;
    transition: 0.5s;
}

#home {
    display: block;
}

#chat, #alerts, #profile {
    display: none;
}

.navigation-button button.active {
    background-color: white;
    color: #0438ff;
}

.navigation-button button:hover {
    background-color: white;
    color: #0438ff;
}

.navigation-button button:active {
    background-color: white;
    color: #0438ff;
    transform: translateY(-5px);
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.alert-code {
    font-weight: bold;
    font-size: 10pt;
    text-transform: uppercase;
}

.alert-code.safe {
    color: rgb(0, 199, 0);
}

.home-header .logo {
    width: 150px;
}

.home-panic-alert {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 50px;
    text-align: center;
}

.home-panic-alert h1 {
    color: #0438ff;
    padding-bottom: 10px;
}

.home-panic-alert p {
    color: gray;
    font-weight: bold;
    font-size: 10pt;
}

.panicBtn {
    background-color: rgb(180, 0, 0);
    color: white;
    border: none;
    border: 5px solid rgb(243, 243, 243);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    font-size: 60pt;
    transition: 0.5s;
}

.panicBtn:active {
    background-color: red;
    transform: scale(0.8);
}

/* -----------------------------------------
Main Page (chat)
-----------------------------------------*/
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.chat-header h2 {
    font-size: 15pt;
    font-weight: 500;
    color: #0438ff;
}

.chat-header span {
    font-weight: 500;
    font-size: 9pt;
    color: gray;
}

.chat-panel {
    margin: 0 20px;
    height: 79dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    gap: 3px;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
    padding: 20px 20px;
}

.chat-input input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 9pt;
    color: black;
    overflow-y: auto;
}

.chat-input button {
    background: none;
    border: none;
    font-size: 9pt;
    background-color: #0438ff;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.5s;
}

.chat-input button:active {
    transform: translateY(-5px);
}